/* GLOBAL STYLES
-------------------------------------------------- */
/*=====================================================================================
================================* Fonts and body text *================================
==================================================================================== */


body {
  padding-bottom: 0px;
  font-family : 'Open Sans', Tahoma, Geneva, Sans-serif;
}

h1, h2, h3, h4, h5,{ 
  color: #393939;
  font-family : 'Open Sans', Tahoma, Geneva, Sans-serif;
}

p { 
  font-family : 'Open Sans', Tahoma, Geneva, Sans-serif;
  font-size : 20px;
  line-height : 1.6em;
  color: #393939;
  padding:5px;
}

.mini {
font-size:14px;
line-height:1.5em;
color:#ffffff;
}

h3 {
font-size:30px;
color: #606060;
}

iframe {
overflow:hidden;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #86a333;
  background-color: #f4f4f4;
  border-radius: 4px;
}

li {
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
}

/*=====================================================================================
================================* NAVBAR *=============================================
==================================================================================== */

header {
    height:40px;   
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1030;
}

.supra {
background-color: #e8e8e8;
height: 40px;
color: #fff;
text-align: right;
display:block;
position:relative;
width:100%;
z-index: 1050;
}

.supra a {
color: #333333;
font-size: 14px;
padding-top: 10px;
text-decoration: underline;
padding-right: 20px; 
}

.search {
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
background-color:#89d0de;
height: 20px;
width: 150px;
vertical-align:middle;
margin: 10px 20px;
float:right;
display:inline-block;
}

.glyphicon-search {
	margin-right: 4px;
}

.navbar {
margin-bottom: 0px;
}

.navbar-nav {
padding-top: 15px;
}

.navbar-default {
background-color: #ffffff;
border-color: #ffffff;
box-shadow: 0px 1px 2px 3px rgba(34,34,34,0.4);
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav > li {
    float: left;  
}
    
.navbar-nav {
float: left;
margin-left: 30px;
padding-top: 15px;
font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
  color: #595959;
  margin-left:10px;
}

	
.started {
  color:#fff;
  background-color:#cc0000;
}

.cta {
color: #cc0000;
}

.cta:hover {
color: #cc0000;
font-weight: bold;
}


/*=====================================================================================
================================* JUMBOTRON *==========================================
==================================================================================== */

.jumbotron {
padding-bottom: 0px;
padding-top: 40px;
padding-left:0px;
height:550px;
background-image: url('../img/bridge-bw.png');
margin-bottom:0px;
}

.jumbotron .container {
padding-bottom: 40px;
z-index:10;
padding-top:40px;
}

.jumbotron .caption {
padding: 25px;
margin-top:40px;
background:rgba(51,134,163,0.8);
}

.jumbotron h1 {
color: #ffffff;
font-size: 60px;
line-height:1.5em;
}

.jumbotron p {
font-size: 24px;
color: #ffffff;
}


/*=====================================================================================
================================* STRUCTURE *==========================================
==================================================================================== */
/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.spacer-60 {
  margin: 30px 0;
  display:inline-block;
}

.spacer-40 {
  margin: 20px 0;
  display:inline-block;
}

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    padding-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*=====================================================================================
================================* PAGES *==============================================
==================================================================================== */
.sectionheading {
text-align:center;
}

.sectionheading h2 {
font-size:42px;
font-weight:normal;
padding: 25px 0px;
margin-top: 0px;
letter-spacing: 1px;
font-family: 'Open Sans';
color: #606060;
}

.gray {
background-color: #f4f4f4;
}


.section {
font-family: 'Open Sans';
font-size : 22px;
line-height : 1.6em;
}

.hero {
background-color: #1f6370;
height: 390px;
color: #fff;
margin-top: -20px;
}

.hero h1 {
text-align: left;
font-family: 'Purista Semi';
font-weight: normal;
font-size: 52px;
line-height: 1.4;
padding-top: 40px;
letter-spacing: 1px;
}

.hero h2 {
text-align: left;
font-family: 'Purista Semi';
font-weight: normal;
font-size: 38px;
line-height: 1.4;
padding-top: 20px;
letter-spacing: 1px;
}

.hero p {
font-size: 24px;
line-height: 1.4;
color: #fff;
}

.teal {
color: #3cb2c9;
font-family: 'Purista Semi';
font-weight: bold;
text-align: center;
letter-spacing: 1px;
padding: 20px 0px;
}

.serif {
font-family: 'Purista Semi';
font-weight: normal;
line-height: 1.4em;
}

.icon {
width: 100px;
height: 100px;
text-align:center;
margin: 0 auto;
padding-top: 20px;
padding-bottom: 15px;
}

.icon img {
display:inline-block;
width:70%;
}

.center {
text-align:center;
}

.steps {
font-size: 18px;
line-height:1.6em;
}

/*=====================================================================================
================================* BUTTONS *============================================
==================================================================================== */

.btn {
  display: inline-block;
  padding: 20px 30px 20px 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: #3996b6;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  transition: padding ease-out 0.1s;
}

.btn-blue {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3997b6), color-stop(1, #3997b6) );
	background:-moz-linear-gradient( center top, #3997b6 5%, #3997b6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3997b6', endColorstr='#3997b6');
	background-color:#3997b6;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	padding: 5px 20px;
	margin-top:20px;
	text-decoration:none;
	text-align:center;
}

.btn-blue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3997b6), color-stop(1, #3997b6) );
	background:-moz-linear-gradient( center top, #3997b6 5%, #3997b6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3997b6', endColorstr='#3997b6');
	background-color:#3997b6;
	color: #cccccc;
}

.btn-blue:active {
	position:relative;
	top:1px;
}

.btn-cta {
  color: #ffffff;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(transparent 20%, #3996b6 20%, #3996b6 80%, transparent 80%);
  background-position: -10px 0px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.btn-cta:before,
.btn-cta:after {
    content: '';
    display: inline-block;
    position: absolute;
}

.btn-cta:hover, 
.btn-cta:hover a {
    color: #fff;
}

.btn-cta:after {
    z-index: -1;
    background: transparent;
    top: 20%;
    right: 10px;
    height: 60%;
    width: 100%;
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    transition: box-shadow ease-out 0.1s;
}

.btn-cta:hover:after {
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

/*=====================================================================================
================================* NEW STYLES *=========================================
==================================================================================== */

.light {
background-color: #fff;
}

.light > .sectionheading h2 {
color: #787878;
}

.dark, .dark p {
background-color: #333;
color: #ededed;
}

.dark > .sectionheading h2 {
color: #f7f7f7;
}

.gradient {
background: rgba(215,86,0,1);
background: -moz-linear-gradient(-45deg, rgba(215,86,0,1) 0%, rgba(255,113,19,1) 81%, rgba(255,113,19,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(215,86,0,1)), color-stop(81%, rgba(255,113,19,1)), color-stop(100%, rgba(255,113,19,1)));
background: -webkit-linear-gradient(-45deg, rgba(215,86,0,1) 0%, rgba(255,113,19,1) 81%, rgba(255,113,19,1) 100%);
background: -o-linear-gradient(-45deg, rgba(215,86,0,1) 0%, rgba(255,113,19,1) 81%, rgba(255,113,19,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(215,86,0,1) 0%, rgba(255,113,19,1) 81%, rgba(255,113,19,1) 100%);
background: linear-gradient(135deg, rgba(215,86,0,1) 0%, rgba(255,113,19,1) 81%, rgba(255,113,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d75600', endColorstr='#ff7113', GradientType=1 );
}

.quote {
padding-top: 30px;
padding-bottom: 10px;
color: #ffffff;
font-size:28px;
}

/*=====================================================================================
================================* FOOTER *=============================================
==================================================================================== */
.footerlinks {
background-color: #959595;
color: #ffffff;
padding-top:10px;
}

.footerlinks h4 {
font-weight: bold;
font-size:16px;
}

.footerlinks ul {
list-style-type:none;
padding-left:0px;
}

.footerlinks li {
-webkit-margin-before: .1em;
-webkit-margin-after: .1em;
}

.footerlinks li a {
color: #ffffff;
}


#menu-footer-api li,
#menu-footer-resources li,
#menu-footer-support li,
#menu-footer-about li, 
#menu-footer-api li a,
#menu-footer-resources li a,
#menu-footer-support li a,
#menu-footer-about li a {
color: #ffffff;
list-style-type:none;
font-size: 14px;
line-height:1.5em;
}


footer {
background-color: #333333;
text-align: center;
bottom: 0;
}

footer p,
footer a {
font-size: 12px;
line-height: 1.3em;
color: #ffffff;
}

#menu-legal li {
display: inline;
list-style-type: none;
padding-right: 10px;
}



@media (min-width: 340px) {
  iframe {
    width: 320px;
    min-height: 675px;
  }
  
}

@media (min-width: 660px) {
  iframe {
    width: 595px;
    min-height: 375px;
  }
  
}

